.product_image {
    width: 90%;
    padding: 5%;
    max-width: 800px;
}

.product_details {
    padding: 0% 5%;
    font-size: 125%;
}

.add {
    background-color: rgb(255, 216, 20);
    border-radius: 50px;
    padding: 2% 5%;
    color: black;
    display: inline-block;
}