{% extends 'base.html' %} {% load static %} {% static "products" as base_url %}
{% block content %}
<div class="collection">
  {% for product in tasks %} {% if product.quantity != 0%}
  <a
    class="product"
    href="{% url 'store:product' product_id=product.product_id %}"
  >
    <div class="profile">
      <img
        class="product-image"
        src="{{base_url}}/{{product.image}}"
        alt="product"
      />
      <div class="price">&#8377;{{product.price}}</div>
    </div>
    <div class="details">
      <div class="title">{{product.product_name}}</div>
      <div class="description">{{product.specification}}</div>
    </div>
  </a>
  {% endif %} {% endfor %}
</div>
<div class="page-nav">
  {% if previous != -1 %}
  <a class="page-prev_next" href="{% url 'store:home' index=previous %}">
    &laquo previous
  </a>
  {% endif %} {% for index in page_num %}
  <a class="page-num" href="{% url 'store:home' index=index %}">{{index}}</a>
  {% endfor %} {% if last != -1 %}
  <a class="page-prev_next" href="{% url 'store:home' index=last %}">
    next &raquo;
  </a>
  {% endif %}
</div>
{% endblock %}
