{% extends 'basetemplate.html' %} {% load static %} {% block content %}
<div class="bestcart">
  <a href="{% url 'store:defaultHome' %}">BestCart</a>
</div>
<div class="datatable">
  <form action="login" method="POST" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="formtable">
      <h2>Sign in</h2>
      <p>Email</p>
      <input class="input" type="text" name="email" placeholder="email" />
      <p>Password</p>
      <input
        class="input"
        type="password"
        name="password"
        placeholder="At least 8 characters"
      />
      <input type="submit" class="submit" />
    </div>
    {% for message in messages %}
    <p class="message">{{message}}</p>
    {% endfor %}
  </form>
</div>
<div class="create">
  <a href="{% url 'store:registerCustomer' %}" class="createbutton">
    Create your BestCart Customer account</a
  >
  <a href="{% url 'store:registerVendor' %}" class="createbutton">
    Create your BestCart Vendor account</a
  >
</div>
{% endblock %}
