{% extends 'base.html' %} {% load static %} {% static "products" as base_url %}
{% block content %}
<img
  class="product_image"
  src="{{base_url}}/{{product.image}}"
  alt="product image"
/>
<div class="product_details">
  <p class="product_name">{{product.product_name}}</p>
  <div class="category_name">
    {% if user.is_authenticated and user.is_vendor %} {% for cat in category %}
    <a>{{cat}}</a><br />
    {% endfor %} {% else %}{% for cat in category %}
    <a href="{% url 'store:category' category=cat %}">{{cat}}</a><br />
    {% endfor %} {% endif %}
  </div>
  <p class="product_price">&#8377; {{product.price}}</p>
  <p class="description_title">Description</p>
  <p class="description">{{product.specification}}</p>
  {%if user.is_authenticated %} {% if user.is_customer %}
  <a class="add" href="{% url 'store:addtocart' id=product.product_id %}"
    >Add to Cart</a
  >
  <a class="add" href="{% url 'store:addtowishlist' id=product.product_id %}"
    >Add to Wishlist</a
  >
  {% elif user.is_seller %}
  <a
    class="add"
    href="{% url 'store:deleteFromVendor' product_id=product.product_id %}"
    >Delete Product</a
  >
  {% endif %} {% endif %}
</div>
{% endblock %}