{% extends 'basetemplate.html' %} {% load static %} {% block content %}
<div class="bestcart">
  {% if customer %}
  <a href="{% url 'store:defaultHome' %}">BestCart</a>
  {% else %}
  <a href="{% url 'store:defaultHome' %}">BestCart Vendor</a>
  {% endif %}
</div>
<div class="datatable">
  {% if customer %}
  <form action="registerCustomer" , method="post">
  {% else %}
  <form action="registerVendor" , method="post">
  {% endif %}
    {% csrf_token %}
    <div class="formtable">
    <h2>Create account</h2>
    <p>Your name</p>
    <input
      class="input"
      type="text"
      name="custname"
      placeholder="fist and last name"
    />
    <p>Email</p>
    <input
      class="input"
      type="email"
      name="email"
      placeholder="email"
    />
    <p>Mobile number</p>
    <input
      class="input"
      type="text"
      name="mobile"
      placeholder="mobile number"
    />
    <p>Password</p>
    <input
      class="input"
      type="password"
      name="password1"
      placeholder="At least 8 characters"
    />
    <p>Re-enter Password</p>
    <input
      class="input"
      type="password"
      name="password2"
      placeholder="At least 8 characters"
    />
    {% if customer %}
    <p>Location</p>
    <input
      class="input"
      type="text"
      name="location"
      placeholder="location"
    />
    {% endif %}
    <input type="submit" class="submit" />
    {% for message in messages %}
    <p class="message">{{message}}</p>
    {% endfor %}
    </div>
  </form>
</div>
{% endblock %}
